body {
    font-family: 'Montserrat';
    background-color: #F4AE68;
}
@font-face {
    font-family: Horizon;
    src: url("horizon.otf") format("opentype");
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
    flex-direction: column;
    
    
}
.horizon-font {
    font-family: 'Horizon';
}
.montserrat-font {
    font-family: 'Montserrat';
}

h1 {
    padding: 0;
}