body {
    display: flex;
    font-family: 'Montserrat';
    background-image: linear-gradient(to right, purple, red);
    margin: 0;
    overflow: hidden;
    min-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Horizon';
    src: url("horizon.otf") format("opentype");
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    font-size: 25px;
    padding: 100px;
}

.horizon-font {
    font-family: 'Horizon';
    font-size: 30px;
}

.montserrat-font {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 45px;
}

h1, h3 {
    padding: 0;
    margin: 0;
}

.date {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 25px;
    font-weight: 400;
}

.name {
    position: absolute;
    bottom: 1%;
    right: 1%;
    font-size: 25px;
}

.page {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease;
}

#page1 {
    transform: translateX(0);
}

#page2 {
    transform: translateX(100%);
    position: absolute;
}